body {
    /* background-color: rgb(237, 252, 231); */
    background-color: #fdfde9;

    font-family: 'Garamond';
}

.navbar {
    background-color: rgb(21, 78, 38)
}

.navbar-brand {
    color: white;
    font-size: 1.75rem;
    font-family: 'Papyrus';
}

.nav-link {
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.85);
}

#content {
    color:rgb(21, 78, 38) !important;
}


#content-heading {
    font-size: 4rem;
}

#content-body {
    font-size: 1.5rem;
}

h1, h3, h5 {
    display: inline-block;
}

a, a:hover {
    color: inherit;
}

p > img {
    display: table;
    margin: 0 auto 0.5rem;
    max-width: 80%;
}

.img-caption {
    display: table;
    margin: 0 auto;
    font-size: 1.2rem;
    max-width: 75%;
}

.img-div {
    /* width: 100%; */
    margin: 2rem;
}

p {
    width: 100%;
}

@font-face {
    font-family: "Papyrus";
    src: url("fonts/Papyrus-Regular.woff2");
}

@font-face {
    font-family: "Garamond";
    src: url("fonts/Garamond.woff2");
}

@font-face {
    font-family: "Garamond";
    src: url("fonts/Garamond-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Garamond";
    src: url("fonts/Garamond-Italic.woff2");
    font-style: italic;
}